/* Boca Splash Page */


@font-face {
  font-family: 'gotham_htfthin';
  src: url('fonts/GothamHTF-Thin-webfont.eot');
  src: url('fonts/GothamHTF-Thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/GothamHTF-Thin-webfont.woff2') format('woff2'),
       url('fonts/GothamHTF-Thin-webfont.woff') format('woff'),
       url('fonts/GothamHTF-Thin-webfont.ttf') format('truetype'),
       url('fonts/GothamHTF-Thin-webfont.svg#gotham_htfthin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham_htfbook';
  src: url('fonts/GothamHTF-Book-webfont.eot');
  src: url('fonts/GothamHTF-Book-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/GothamHTF-Book-webfont.woff2') format('woff2'),
       url('fonts/GothamHTF-Book-webfont.woff') format('woff'),
       url('fonts/GothamHTF-Book-webfont.ttf') format('truetype'),
       url('fonts/GothamHTF-Book-webfont.svg#gotham_htfbook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham_htflight';
  src: url('fonts/GothamHTF-Light-webfont.eot');
  src: url('fonts/GothamHTF-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/GothamHTF-Light-webfont.woff2') format('woff2'),
       url('fonts/GothamHTF-Light-webfont.woff') format('woff'),
       url('fonts/GothamHTF-Light-webfont.ttf') format('truetype'),
       url('fonts/GothamHTF-Light-webfont.svg#gotham_htflight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham_htfmedium';
  src: url('fonts/GothamHTF-Medium-webfont.eot');
  src: url('fonts/GothamHTF-Medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/GothamHTF-Medium-webfont.woff2') format('woff2'),
       url('fonts/GothamHTF-Medium-webfont.woff') format('woff'),
       url('fonts/GothamHTF-Medium-webfont.ttf') format('truetype'),
       url('fonts/GothamHTF-Medium-webfont.svg#gotham_htfmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham_htfbold';
  src: url('fonts/gothamhtf-bold-webfont.eot');
  src: url('fonts/gothamhtf-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/gothamhtf-bold-webfont.woff2') format('woff2'),
       url('fonts/gothamhtf-bold-webfont.woff') format('woff'),
       url('fonts/gothamhtf-bold-webfont.ttf') format('truetype'),
       url('fonts/gothamhtf-bold-webfont.svg#gotham_htfbold') format('svg');
  font-weight: normal;
  font-style: normal;
}



html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0; padding:0; border:0; outline:0; background:transparent;
  /*vertical-align: baseline;*/
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio, canvas, video { display:inline-block; }
[hidden] { display: none; }

body { line-height:1; }
input, select, textarea { border: none; background:#fff; margin:0px; color:#000; padding:6px 11px; font-size:20px; font-family:"gill_sanslight";
  transition:all 200ms ease-in-out;
  -webkit-transition:all 200ms ease-in-out;
}
input[type=checkbox], input[type=radio] { border:none; width:13px!important; height:13px!important; }
input[type=submit] {
  cursor: pointer;
}

ol, ul { list-style:none; }
blockquote, q { quotes:none; }
hr { display:none; }
/* remember to define focus styles! */
:focus { outline:0; }

/* remember to highlight inserts somehow! */
ins { text-decoration:none; }
del { text-decoration:line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse:collapse; border-spacing:0; }

/* classe para replace */
.tit,
.rpc, .rpci, .rpch { display:block; overflow:hidden; text-indent:-9999px; }
.rpci { border:none; word-spacing:999px; cursor:pointer; }
.rpch span { float:left; cursor:pointer; margin:0px!important; opacity:0; visibility:hidden; position:relative!important; top:0!important; left:0!important; right:0!important; bottom:0!important; -webkit-transition:all 80ms ease-in-out; -moz-transition:all 80ms ease-in-out; -ms-transition:all 80ms ease-in-out; -o-transition:all 80ms ease-in-out; transition:all 80ms ease-in-out; }
.rpch:hover span { opacity:1; visibility:visible; }
/* configuraÃ§Ãµes gerais de a */
a, .a1:hover {  text-decoration:none; }
a:hover, .a1 { text-decoration:none; }

/* floats */
.fL, .fR { display:block; position:relative; float:left; }
.fR { float:right!important; }
.fN { float:none!important; }

/*uteis*/
.dMa { display:block!important; margin-left:auto!important; margin-right:auto!important; float:none!important; }
.bB { border:none!important; }
.dN { display:none!important; } .dB { display:block; } .dBi { display:block!important; } .dI { display:inline; } .dT { display:table; }
.bgN { background:none!important; }
.w100 {width:100%!important;}
.cR {clear:right;} .cL {clear:left;} .cB {clear:both; display:block;} .cN {clear:none;}
.hA {height:auto!important;}
.wA {width:auto!important;}
.oH { overflow:hidden!important; } .oV { overflow:visible!important; } .oA { overflow:auto;!important; }
.m0 { margin:0px!important; }
.mL { margin-left:0px!important; } .mB { margin-bottom:0px!important; } .mT { margin-top:0px!important; } .mR { margin-right:0px!important; }
.p0 { padding:0px!important; }
.pL { padding-left:0px!important; } .pB { padding-bottom:0px!important; } .pT { padding-top:0px!important; } .pR { padding-right:0px!important; }
.vH { visibility:hidden; }
.l1, .l1 li, .l2, .l2 li { width:100%; float:left; display:block; position:relative; }
.l2,.l2 li { width:auto; }
.pR { position:relative; }
.tR { text-align:right; } .tC { text-align:center; } .tJ { text-align:justify; }
.l50 { left:50%!important; }
/*.l_100 li { padding-top:5px; }*/

.z1 { z-index:1; position:relative; } .z2 { z-index:2; position:relative; }
.z3 { z-index:3; position:relative; } .z4 { z-index:4; position:relative; }
.z5 { z-index:5; position:relative; } .z6 { z-index:6; position:relative; } .z7 { z-index:7; position:relative; }

::-webkit-input-placeholder {
   color: #f0f0f0;
}

:-moz-placeholder { /* Firefox 18- */
   color: #f0f0f0;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #f0f0f0;
}

:-ms-input-placeholder {  
   color: #f0f0f0;
}

body {
  background: #f5f9f9;
  font-family: 'gotham_htfbook', Raleway, "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 7pt;
  color: #212121;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'gotham_htfbold';
}

header{
  margin: 0 auto;
  width: 1024px;
  height: 100px;
  text-align: center;
  text-indent: -9999px;
  background: url(../images/Logo_BOCA.png) no-repeat center top 50px;
  background-size: 110px;
}

header .mid{
  padding-top: 51px;
}

section{
  margin: 0 auto;
  width: 1024px;
}

figure{
  img, iframe{margin:0 0 1em 0;}
}

#vimeoEmbedder{
  width: 870px;
  height: 489px;
  padding-bottom: 25px;
}

#video .video-container {
  position:relative;
  width: 870px;
  height: 490px;
}

#video .video-container img {
  width:100%;
  height:100%;
}

#video iframe, #video video {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.play {
  display: none;
  cursor: pointer;
  height: 40px;
  left: 50%;
  margin: -45px 0 0 -58px;
  padding: 25px;
  position: absolute;
  top: 50%;
  width: 65px;
  z-index: 1;
}

.play span {
  background: url("../images/play.png") no-repeat scroll center -380px #000000;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 4px 2px -4px rgba(0, 0, 0, 0.4);
  display: block;
  height: 40px;
  opacity: 0.8;
  width: 65px;
}

.placeholder:hover{
  background: url("../images/rollover.jpg") no-repeat;
  width: 868px;
  height: 490px;
  cursor: pointer;
  opacity: 0.8;
  
}

.placeholder{
  background: url("../images/imagem.jpg") no-repeat;
  width: 868px;
  height: 490px;
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;

}

section h3{
  padding: 15px 0 5px 0;
}

h3#hh33 {
    padding-top: 50px;
}

section div p {
  max-width: 662px;
  margin: 0 auto;
  padding: 0px 0 10px 0;
  line-height: 1.4;
  font-size: 12px;
  letter-spacing: 1px;
}
 
#about a{
  font-family: 'gotham_htfbold';
  text-decoration: none;
  color: #000;
}

.contact{
  padding: 15px 0 0 0;
  line-height: 15px;
}

.contact p {
  padding-bottom: 4px;
}

#about span {
  line-height: 20px;
}

.mid{
  margin: 0 78px 0 78px;
  max-width: 1024px;
}

footer {
  margin: 0 auto;
  width: 1024px;
  height: 100px;
}

footer ul{
  padding: 30px 0 50px 0;
  font-family: 'gotham_htfbold';
  font-size: 8pt;
}

footer ul li{
  display: inline-flex;
}

footer ul li a{
  text-decoration: none;
  color: #000000;
}
